.container.main-pages
  = cookies[:game_credentials]
  %header
    = image_tag "logo.png", class: "logo img-responsive"
  %section.login-form
    = form_tag pages_login_or_create_room_path, remote: true do
      = label_tag :username, 'LOGIN'
      = text_field_tag :username, last_credentials[:username], placeholder: 'your name', class: 'form-control'
 
      = label_tag :room, 'ROOM NUMBER || оставьте пустым если кода комнаты у вас нет'
      = text_field_tag :room, last_credentials[:room] , placeholder: 'room code', class: 'form-control'
      %br/
      = submit_tag 'SUBMIT', class: "btn btn-info btn-block"