!!!
%html{'ng-app' => 'room'}
  %head
    %title Pisyai
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .alert.alert-warning.alert-dismissable
      = flash[:notice]
    = yield
